<section id="about" class="d-flex align-items-center" >
    <div class="container">
        <div class="row text-white">
            <div class="col-12">
                <div class="header-about text-center">
                    <h2 class="text-uppercase fw-bold fs-1">about component</h2>
                    <div class="icon position-relative d-inline">
                    <i class="fa-solid fa-star py-2"></i>
                    </div>
                </div>
            </div>
            <div class="row ms-2 px-5">
                <div class="col-md-6">
                    <div class="about-info ">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-info ">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
