#portfolio {
 padding-top: 7.3rem;
}

#portfolio .header-portfolio{
    color: #2C3E50;
}

.icon:after{
    content: "";
    width: 90px;
    height: 4px;
    position: absolute;
    top: 50%;
    right:35px;
    transform: translateY(-50%);
    background-color: #2C3E50;
}

.icon:before{
    content: "";
    width: 90px;
    height: 4px;
    position: absolute;
    top: 50%;
    left:35px;
    transform: translateY(-50%);
    background-color: #2C3E50;
}

#portfolio .img img{
    width: 100%;
    border-radius: .4125rem;
}
#portfolio .img{
    position: relative;
    overflow: hidden;
    border-radius: .4125rem;
    cursor: pointer;
}

#portfolio .plus{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1cb999ce;
}
#portfolio .plus i{
    position: absolute;
    top: 50%;
    left: 50%;
}

#portfolio .img:hover .plus{
    top: 0;
}