<section id="portfolio">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="header-portfolio text-center pb-2 pt-4">
                    <h2 class="text-uppercase fw-bold fs-1">portfolio component</h2>
                    <div class="icon position-relative d-inline">
                    <i class="fa-solid fa-star py-2"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5 pb-4">
            <div class="col-md-4">
                <!-- Button trigger modal -->
                <div class="img" data-bs-toggle="modal"  data-bs-target="#img1">
                    <img src="./assets/poert1.png" alt="image not found">
                    <div class="plus">
                    <i class="text-white fa-solid fa-plus fa-6x translate-middle"></i>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="img1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">   
                        <img src="./assets/poert1.png" alt="image not found">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Button trigger modal -->
                <div class="img" data-bs-toggle="modal"  data-bs-target="#img2">
                    <img src="./assets/port2.png" alt="image not found">
                    <div class="plus">
                    <i class="text-white fa-solid fa-plus fa-6x translate-middle"></i>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="img2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">   
                        <img src="./assets/port2.png" alt="image not found">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Button trigger modal -->
                <div class="img" data-bs-toggle="modal"  data-bs-target="#img3">
                    <img src="./assets/port3.png" alt="image not found">
                    <div class="plus">
                    <i class="text-white fa-solid fa-plus fa-6x translate-middle"></i>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="img3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">   
                        <img src="./assets/port3.png" alt="image not found">
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Button trigger modal -->
                <div class="img" data-bs-toggle="modal"  data-bs-target="#img1">
                    <img src="./assets/poert1.png" alt="image not found">
                    <div class="plus">
                    <i class="text-white fa-solid fa-plus fa-6x translate-middle"></i>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="img1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">   
                        <img src="./assets/poert1.png" alt="image not found">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Button trigger modal -->
                <div class="img" data-bs-toggle="modal"  data-bs-target="#img2">
                    <img src="./assets/port2.png" alt="image not found">
                    <div class="plus">
                    <i class="text-white fa-solid fa-plus fa-6x translate-middle"></i>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="img2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">   
                        <img src="./assets/port2.png" alt="image not found">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Button trigger modal -->
                <div class="img" data-bs-toggle="modal"  data-bs-target="#img3">
                    <img src="./assets/port3.png" alt="image not found">
                    <div class="plus">
                    <i class="text-white fa-solid fa-plus fa-6x translate-middle"></i>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="img3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">   
                        <img src="./assets/port3.png" alt="image not found">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


