
<section id="home" >
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <div class="home-info text-white text-center py-5">
                    <img src="./assets/avataaars.svg" alt="home image not found" class="pt-5">
                    <h2 class="text-uppercase fw-bold fs-1 pt-4">start framework</h2>
                    <div class="icon position-relative d-inline">
                    <i class="fa-solid fa-star pt-1 pb-3"></i>
                    </div>
                    <p >Graphic Artist - Web Designer - Illustrator</p>
                </div>
            </div>
        </div>
    </div>
</section>

